@using Archetype.Models
@using Archetype.Extensions
@using Archetype.PropertyConverters
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArchetypeFieldsetModel>

@{
	var current = (IPublishedContent)ViewData["contentArticle"];
	var articleNode = current.AncestorOrSelf("Site").Children.First(x => x.DocumentTypeAlias == "Articles");
	string headline = articleNode.GetPropertyValue<string>("pageHeadline");
	string amount = Model.GetValue<string>("articlesElementsToShow");
	var articleNodeList = articleNode.Children.Take(0);
	bool showLink = true;
	
	if (amount == "All" || amount == "" || amount == null)
	{
		articleNodeList = articleNode.Children;
		showLink = false;
	}
	else 
	{
		int amountNum = Convert.ToInt32(amount);
		articleNodeList = articleNode.Children.Take(amountNum);
	}
	
	<div class="column-article">
		<h2>@headline</h2>
		@foreach (var article in articleNodeList)
		{
			string articleHeadline = article.GetPropertyValue<string>("pageHeadline");
			string articleTeaser = article.GetPropertyValue<string>("pageDescription");
			<a href="@article.Url" class="article">
				<h3>@articleHeadline</h3>
				@Html.Raw(articleTeaser)
			</a>
		}

		
		@if (showLink)
		{
			<a class="see-all" href="@articleNode.Url">Se alle artikler</a>
		}
	</div>
}