@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";

	string headline = Model.Content.GetPropertyValue<string>("pageHeadline");
	string description = Model.Content.GetPropertyValue<string>("pageDescription");
	var image = Model.Content.GetPropertyValue<IPublishedContent>("pageDescription");
}

@section mainContent
{
	<section class="section-image">
		<figure>
			<div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="@image.Url" data-imgalt-desktop="This is the alt text">
				<noscript>
					<img src="@image.Url" alt="This is the alt text">
				</noscript>
			</div>
			<div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="@image.Url?width=600" data-imgalt-mobile="This is the mobile alt text">
				<noscript>
					<img src="@image.Url?width=600" alt="This is the alt text">
				</noscript>
			</div>
		</figure>
	</section>

	<section class="section-news">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>@headline</h2>
					<div class="text-area">
						@Html.Raw(description)
					</div>
					<form class="news-filter row">
						<div class="col-sm-offset-3 col-sm-3">
							<div class="input-container">
								<select id="news-filter-year" class="">
									<option value="all-years" selected="selected">Alle år</option>
									<option value="2015">2015</option>
									<option value="2014">2014</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="input-container">
								<select id="news-filter-month" class="">
									<option value="all-months" selected="selected">Alle måneder</option>
									<option value="jan">Januar</option>
									<option value="feb">Febuar</option>
									<option value="mar">Marts</option>
								</select>
							</div>
						</div>
					</form>
					<div class="news-list-container row">
						<div class="col-sm-offset-1 col-sm-10">
							<ul class="news-list row">
								@foreach (var article in Model.Content.Children)
								{
									string articleHeadline = article.GetPropertyValue<string>("pageHeadline");
									string articleTeaser = article.GetPropertyValue<string>("pageDescription");
									var articleImage = article.GetPropertyValue<IPublishedContent>("pageImage");

									<li class="active col-sm-6" data-year="2014" data-month="jan">
										<figure>
											<div class="bg-container img-default responsiveimg-default" data-imgsrc-default="" data-imgalt-default="This is the alt text">
												<noscript>
													<img src="" alt="This is the alt text">
												</noscript>
											</div>
										</figure>
										<h3>@articleHeadline</h3>
										<small>Skrevet den <time>4 januar, 2014</time></small>
										<div class="news-text">
											@Html.Raw(articleTeaser)
										</div>
										<a href="@article.Url" class="see-all">Læs hele artiklen</a>
									</li>
								}
							</ul>
							<ul class="news-list-paging"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

}