@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@section mainContent
{
    <div id="page" class="frontpage">
        @Html.Partial("Sections/SectionSlider")
        @Html.Partial("Sections/SectionList")
        @Html.Partial("Sections/SectionVideo")
        @Html.Partial("Sections/SectionHero")
        @Html.Partial("Sections/SectionBoxes")
        @Html.Partial("Sections/SectionSplit-7x5")
        @Html.Partial("Sections/SectionProducts")
    </div>
}
