@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section mainContent
{
    <div id="page" class="product-page">
        @Html.Partial("Sections/SectionImage")
        @Html.Partial("Sections/SectionContent")
        @Html.Partial("Sections/SectionTextSplit")
        @Html.Partial("Sections/SectionText")
        @Html.Partial("Sections/SectionComments")
        @Html.Partial("Sections/SectionContact")
    </div>
}
    