@using Archetype.Models
@using Archetype.Extensions
@using Archetype.PropertyConverters
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArchetypeFieldsetModel>

@{
	string headline = Model.GetValue<string>("headline");
	string teaserText = Model.GetValue<string>("text");

	var selectComments = Model.GetValue<int[]>("selectComments").Select(x => Umbraco.TypedContent(x));
	int commentCount = selectComments.Count();
	var noSliderClass = "";
	bool showSmallSlider = false;
	bool showBigSlider = false;
	if (commentCount == 2)
	{
		noSliderClass = "no-slider";
		showSmallSlider = true;
	}
	else if (commentCount % 4 == 0)
	{
		showBigSlider = true;
	}
	@*
		OBS: The logic included in this page it only to illustrate variations in design.
		The desired logic is simply that the class "no-slider" should be added if there is only one <li>  (two comments)
	*@

	if (!showBigSlider)
	{
		<section class="section-comments @noSliderClass">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						@if (showSmallSlider)
						{
							<h1>@headline</h1>
						}
						<div class="comments-container">
							<ul class="comments slides">
								@if (showSmallSlider)
								{
									<li>
										@foreach (var comment in selectComments)
										{
											string text = comment.GetPropertyValue<string>("text");
											string customerName = comment.GetPropertyValue<string>("customerName");
											string customerCity = comment.GetPropertyValue<string>("customerCity");
											string signature = "- " + customerName + ", " + customerCity;
											var image = comment.GetPropertyValue<IPublishedContent>("image").Url;

											<div class="comment">
												<figure class="img-default responsiveimg-default" data-imgsrc-default="@image?width=280&height=280" data-imgalt-default="This is the alt text">
													<noscript>
														<img src="@image?width=280&height=280" alt="This is the alt text">
													</noscript>
												</figure>
												<div class="comment-text">
													@Html.Raw(text)
													<p class="comment-author">@signature</p>
												</div>
											</div>
										}
									</li>
								}
								else
								{
									int counter = 0;
									foreach (var comment in selectComments)
									{
										string htmlListStart = "<li>";
										string htmlListEnd = "</li>";
										string text = comment.GetPropertyValue<string>("text");
										string customerName = comment.GetPropertyValue<string>("customerName");
										string customerCity = comment.GetPropertyValue<string>("customerCity");
										string signature = "- " + customerName + ", " + customerCity;
										var image = comment.GetPropertyValue<IPublishedContent>("image").Url;

										if (counter % 2 == 0)
										{
											@Html.Raw(htmlListStart)
										}

										<div class="comment">
											<figure class="img-default responsiveimg-default" data-imgsrc-default="@image?width=280&height=280" data-imgalt-default="This is the alt text">
												<noscript>
													<img src="@image?width=280&height=280" alt="This is the alt text">
												</noscript>
											</figure>
											<div class="comment-text">
												@Html.Raw(text)
												<p class="comment-author">@signature</p>
											</div>
										</div>

										if (counter != 1 && counter % 2 == 1)
										{
											@Html.Raw(htmlListEnd)
										}

										counter++;
									}
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

	}
	else
	{
		<section class="section-testimonial-customer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2>@headline</h2>
						<div class="text-area">
							@teaserText
						</div>
					</div>
					<div class="testimonials-slider">
						<ul class="testimonials slides">
							@{	//Desktopcode
								int counter = 0;
								foreach (var comment in selectComments)
								{
									string htmlListStart = "<li>";
									string htmlListEnd = "</li>";
									string text = comment.GetPropertyValue<string>("text");

									if (text.Length > 200)
									{
										text = text.Substring(0, 200) + "...";
									}

									string customerName = comment.GetPropertyValue<string>("customerName");
									string customerCity = comment.GetPropertyValue<string>("customerCity");
									string signature = "- " + customerName + ", " + customerCity;
									var image = comment.GetPropertyValue<IPublishedContent>("image").Url;
									string elementclass = "";
									if (counter == 0)
									{
										elementclass = "box-teal arrow-right";
										@Html.Raw(htmlListStart)
									}
									if (counter == 1)
									{
										elementclass = "box-dark arrow-right";
									}
									if (counter == 2)
									{
										elementclass = "box-orange arrow-left";
									}
									if (counter == 3)
									{
										elementclass = "box-gray arrow-left";
									}
									<div class="testimonial col-sm-6">
										<div class="row">
											@if (counter == 0 || counter == 1)
											{
												//First Row
												<div class="col-sm-6">
													<a href="/" class="box box-text @elementclass">
														<h3>@customerName</h3>
														<small>@customerCity</small>
														@Html.Raw(text)
														<p class="link">Læs hele anmeldelsen</p>
													</a>
												</div>

												<div class="col-sm-6">
													<a href="/" class="box box-image">
														<figure>
															<div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="@image" data-imgalt-desktop="This is the alt text">
																<noscript>
																	<img src="@image" alt="This is the alt text">
																</noscript>
															</div>
															<div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="@image" data-imgalt-mobile="This is the mobile alt text">
																<noscript>
																	<img src="@image" alt="This is the mobile alt text">
																</noscript>
															</div>
														</figure>
													</a>
												</div>
											}
											else
											{
												//Second Row
												<div class="col-sm-6">
													<a href="/" class="box box-image">
														<figure>
															<div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="@image" data-imgalt-desktop="This is the alt text">
																<noscript>
																	<img src="@image" alt="This is the alt text">
																</noscript>
															</div>
															<div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="@image" data-imgalt-mobile="This is the mobile alt text">
																<noscript>
																	<img src="@image" alt="This is the mobile alt text">
																</noscript>
															</div>
														</figure>
													</a>
												</div>

												<div class="col-sm-6">
													<a href="/" class="box box-text @elementclass">
														<h3>@customerName</h3>
														<small>@customerCity</small>
														@Html.Raw(text)
														<p class="link">Læs hele anmeldelsen</p>
													</a>
												</div>
											}
										</div>
									</div>
									counter++;
									if (counter == 4)
									{
										@Html.Raw(htmlListEnd)
										counter = 0;
									}
								}
							}
						</ul>
					</div>
				</div>
			</div>

			@*MOBILE CONTENT ONLY*@
			<div class="testimonials-slider-mobile">
				<ul class="testimonials slides">
				@{
					//MOBILECODE
					counter = 0;
					foreach (var comment in selectComments)
					{
				
						string text = comment.GetPropertyValue<string>("text");

						if (text.Length > 200)
						{
							text = text.Substring(0, 200) + "...";
						}

						string customerName = comment.GetPropertyValue<string>("customerName");
						string customerCity = comment.GetPropertyValue<string>("customerCity");
						string signature = "- " + customerName + ", " + customerCity;
						var image = comment.GetPropertyValue<IPublishedContent>("image").Url;
						string elementclass = "";
						if (counter == 0)
						{
							elementclass = "box-teal";
						}
						if (counter == 1)
						{
							elementclass = "box-dark";
						}
						if (counter == 2)
						{
							elementclass = "box-orange";
						}
						if (counter == 3)
						{
							elementclass = "box-gray";
						}
						<li>
							<div class="testimonial col-xs-12">
								<a href="/" class="box box-image">
									<figure>
										<div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="@image" data-imgalt-desktop="This is the alt text">
											<noscript>
												<img src="@image" alt="This is the alt text">
											</noscript>
										</div>
										<div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="@image" data-imgalt-mobile="This is the mobile alt text">
											<noscript>
												<img src="@image" alt="This is the mobile alt text">
											</noscript>
										</div>
									</figure>
								</a>

								<a href="/" class="box box-text @elementclass arrow-top">
									<h3>@customerName</h3>
									<small>@customerCity</small>
									@Html.Raw(text)
									<p class="link">Læs hele anmeldelsen</p>
								</a>
							</div>
						</li>
						counter++;
						if (counter == 4)
						{
							counter = 0;
						}
					}
				}
			</ul>
		</div>

	</section>
	}
}