@using Archetype.Models
@using Archetype.Extensions
@using Archetype.PropertyConverters
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArchetypeFieldsetModel>
@{
	string headline = Model.GetValue<string>("headline");
	string text = Model.GetValue<string>("text");
	string textColor = Model.GetValue<string>("textColor");

	string buttonText = Model.GetValue<string>("buttonText");

	string buttonLinklinkUrl = "#";
	string buttonLinktarget = "";
	string buttonLinktitle = "";
	if (Model.GetValue<MultiUrls>("buttonUrl") != null)
	{
		var buttonLink = Model.GetValue<MultiUrls>("buttonUrl").FirstOrDefault();
		buttonLinklinkUrl = buttonLink.Url;
		buttonLinktarget = buttonLink.Target;
		buttonLinktitle = buttonLink.Name;
	}
	
	IPublishedContent backgroundImage = Model.GetValue<IPublishedContent>("backgroundImage");
	IPublishedContent image = Model.GetValue<IPublishedContent>("image");
		
	string imageLinklinkUrl = "#";
	string imageLinktarget = "";
	string imageLinktitle = "";
	if (Model.GetValue<MultiUrls>("link") != null)
	{
		var imageLink = Model.GetValue<MultiUrls>("link").FirstOrDefault();
		imageLinklinkUrl = imageLink.Url;
		imageLinktarget = imageLink.Target;
		imageLinktitle = imageLink.Name;
	}
	
	string sectionID = Model.GetValue<string>("sectionID");

	<span id="@sectionID"></span>

	<section class="section-hero @textColor">
		@if (backgroundImage != null)
		{
			<figure>
				<div class="bg-container img-default responsiveimg-default responsiveimg-background-default" data-imgsrc-default="@backgroundImage.Url" data-imgalt-default="This is the alt text">
					<noscript>
						<img src="@backgroundImage.Url" alt="This is the alt text">
					</noscript>
				</div>
			</figure>
		}
		<h2 class="@textColor">@headline</h2>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="text-area @textColor">
						@Html.Raw(text)
					</div>
					@if (!string.IsNullOrWhiteSpace(buttonText) && !string.IsNullOrWhiteSpace(buttonLinklinkUrl))
					{
						<div class="btn-holder">
							<a href="@buttonLinklinkUrl" target="@buttonLinktarget" title="@buttonLinktitle" class="btn btn-orange btn-icon btn-icon-bulb">@buttonText</a>
						</div>
					}
				</div>
				<div class="col-sm-4">
					@if (image != null && !string.IsNullOrWhiteSpace(imageLinklinkUrl))
					{
						<figure class="img-holder">
							<a href="@imageLinklinkUrl" target="@imageLinktarget" title="@imageLinktitle">
								<img src="@image.Url?width=300&quality=70" alt="This is the alt text">
							</a>
						</figure>
					}
				</div>
			</div>
		</div>
	</section>
	
}