@using Archetype.Models
@using Archetype.Extensions
@using Archetype.PropertyConverters
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArchetypeFieldsetModel>

@{
	string headline1 = Model.GetValue<string>("headline1");
	var ImageId1 = Model.GetValue<int>("image1");
	var ImageUrl1 = Umbraco.TypedMedia(ImageId1).Url;
	string text1 = Model.GetValue<string>("text1");

	string headline2 = Model.GetValue<string>("headline2");
	var ImageId2 = Model.GetValue<int>("image2");
	var ImageUrl2 = Umbraco.TypedMedia(ImageId2).Url;
	string text2 = Model.GetValue<string>("text2");

	string headline3 = Model.GetValue<string>("headline3");
	var ImageId3 = Model.GetValue<int>("image3");
	var ImageUrl3 = Umbraco.TypedMedia(ImageId3).Url;
	string text3 = Model.GetValue<string>("text3");
		
	<section class="section-list">
		<div class="container">
			<ul class="row">
				<li class="image-link col-sm-4">
					<header>
						<h3>@headline1</h3>
						<i></i>
					</header>
					<figure class="responsiveimg-default" data-imgsrc-default="@ImageUrl1" data-imgalt-default="This is the alt-text">
						<noscript>
							<img src="@ImageUrl1" alt="This is the alt text">
						</noscript>
					</figure>
					<div class="text">
						@Html.Raw(text1)
					</div>
				</li>
				<li class="image-link col-sm-4">
					<header>
						<h3>@headline2</h3>
						<i></i>
					</header>
					<figure class="responsiveimg-default" data-imgsrc-default="@ImageUrl2" data-imgalt-default="This is the alt-text">
						<noscript>
							<img src="@ImageUrl2" alt="This is the alt text">
						</noscript>
					</figure>
					<div class="text">
						@Html.Raw(text2)
					</div>
				</li>
				<li class="image-link col-sm-4">
					<header>
						<h3>@headline3</h3>
						<i></i>
					</header>
					<figure class="responsiveimg-default" data-imgsrc-default="@ImageUrl3" data-imgalt-default="This is the alt-text">
						<noscript>
							<img src="@ImageUrl3" alt="This is the alt text">
						</noscript>
					</figure>
					<div class="text">
						@Html.Raw(text3)
					</div>
				</li>
			</ul>
		</div>
	</section>

}