@using Archetype.Models
@using Archetype.Extensions
@using Archetype.PropertyConverters
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArchetypeFieldsetModel>

@{
	string headline = Model.GetValue<string>("headline");
	string text = Model.GetValue<string>("text");
	string textColor = Model.GetValue<string>("textColor");

	string buttonText = Model.GetValue<string>("buttonText");

	var buttonLink = Model.GetValue<MultiUrls>("buttonUrl").FirstOrDefault();
	
	var imageId = Model.GetValue<int>("image");
	var imageUrl = Umbraco.TypedMedia(imageId).Url;

	var imageLink = Model.GetValue<MultiUrls>("imageLink").FirstOrDefault();
	
	var backgroundImageId = Model.GetValue<int>("backgroundImage");
	var backgroundImageIdUrl = Umbraco.TypedMedia(backgroundImageId).Url;

	string sectionID = Model.GetValue<string>("sectionID");

	<section id="@sectionID" class="section-hero @textColor">
		<figure>
			<div class="bg-container img-default responsiveimg-default responsiveimg-background-default" data-imgsrc-default="@backgroundImageIdUrl" data-imgalt-default="This is the alt text">
				<noscript>
					<img src="@backgroundImageIdUrl" alt="This is the alt text">
				</noscript>
			</div>

		</figure>

		<h2 class="@textColor">@headline</h2>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="text-area @textColor">
						@Html.Raw(text)
					</div>
					@if (!string.IsNullOrWhiteSpace(buttonText) && !string.IsNullOrWhiteSpace(buttonLink.Url))
					{
						<div class="btn-holder">
							<a href="@buttonLink.Url" target="@buttonLink.Target" title="@buttonLink.Name" class="btn btn-orange btn-icon btn-icon-bulb">@buttonText</a>
						</div>
					}
				</div>
				<div class="col-sm-4">
					@if (!string.IsNullOrWhiteSpace(imageUrl) && !string.IsNullOrWhiteSpace(imageLink.Url))
					{
						<figure class="img-holder">
							<a href="@imageLink.Url" target="@imageLink.Target" title="@imageLink.Name">
								<img src="@imageUrl?width=300&quality=70" alt="This is the alt text">
							</a>
						</figure>
					}
				</div>
			</div>
		</div>
	</section>
}